.site-footer {
    background-color: $footer_bg_color;
    background-repeat: no-repeat;
    padding: 110px 0;
    .row {
        .col-sm-6:last-child {
            .welearner-footer-widget {
                margin-bottom: 0;
            }
        }
    }
    .welearner-footer-widget {
        margin-bottom: 50px;
        .widget-title {
            color: #fff;
            margin-bottom: 41px;
            font-family: $heading_font_family;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
        }
        color: rgba(255,255,255, 0.46);
        .social-icons {
            margin-top: 50px;
            li {
                margin-right: 12px;
                a {
                    width: 40px;
                    height: 40px;
                    border-radius: 4px;
                    background-color: rgba(242,242,242,0.22);
                    display: inline-block;
                    line-height: 40px;
                    text-align: center;
                    color: #67B3FF;
                    i {
                        line-height: 40px;
                    }
                    &:hover {
                        color: #037BF4;
                    }
                    
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        &.widget_nav_menu {
            ul {
                li {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        font-family: $body_font_family;
                        font-size: 16px;
                        color: rgba(255,255,255, 0.46);
                    }
                }
            }
        }
    }
}
